#modal-true-sentence {
  @include modal-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    @include modal-bg-box;
    .img-leaf {
      @include modal-bg-box-img-leaf;
    }
    .box-header {
      @include modal-box-header;
    }
    .box-body {
      @include modal-box-body;
      .sentence {
        padding: 20px 5px;
        margin-bottom: 10px;
        color: #000000;
        font-size: 1.5em;
        font-weight: 600;
      }
    }
    .btn-gloss-brown {
      width: 100%;
      button {
        @include btn-gloss-brown;
        width: 100%;
      }
    }
  }
}
