#penalty-cloze-test {
  .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 5px;
    @include portrait-mobile {
      font-size: 1.3em;
    }
  }
  .sentence-box {
    @include sentence-box;
    background-color: #ffffff;
    @include dark-mode {
      background-color: #0e0f20;
    }
    .sentence-item {
      @include sentence-item;
      line-height: 1.8em;
      @include portrait-mobile {
        font-size: 1.3em;
      }
      .typing {
        position: relative;
        @mixin font-style {
          height: 30px;
          padding: 2px 6px;
          border-radius: 5px;
          font-size: 1em;
          font-weight: bold;
          font-family: "Courier New", Courier, monospace;
          @include portrait-mobile {
            padding: 0px 6px;
          }
        }
        input {
          @include font-style;
          background-color: transparent;
          border: 1.25px solid #00000030;
          @include dark-mode {
            color: #ffffff;
            border: 1.25px solid #ffffff10;
          }
        }
        .bg-text {
          @include font-style;
          color: #d2d2d2;
          background-color: #ffffff;
          margin-top: 1.25px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          z-index: -1;
          @include dark-mode {
            background-color: #0e0f20;
            color: #9a9a9a;
          }
        }
      }
    }
  }
  .enter {
    display: flex;
    justify-content: end;
    .btn-gloss-blue {
      @include btn-gloss-blue;
    }
    .btn-gloss-gray {
      @include btn-gloss-gray;
    }
  }
}
