#quiz-body {
  height: 60%;
  max-height: 60%;
  overflow: hidden;
  .page-body {
    &::-webkit-scrollbar {
      display: none;
    }
    min-width: 320px;
    max-width: 1180px;
    height: calc(92vh - 3px);
    overflow-y: scroll;
    margin: auto auto;
    @include portrait-mobile {
      padding-top: 0px;
    }
    @include landscape-mobile {
      padding-top: 0px;
      height: calc(100vh - 43px);
    }
    @include portrait {
      padding-top: 0px;
      height: calc(89vh + 3vh - 3px);
    }
    @include landscape {
      padding-top: 0px;
      height: calc(89vh + 3vh - 3px);
    }
    .step-title {
      font-size: 1.05em;
      font-weight: 500;
      color: #263849;
      padding: 20px 20px 0px;
      letter-spacing: -0.05em;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      @include dark-mode {
        color: #ffffff50;
      }
      @include portrait-mobile {
        padding: 15px 15px 0px;
        font-size: 1em;
      }
      @include landscape-mobile {
        font-size: 1em;
      }
      .step {
        color: #213547;
        font-size: 0.7em;
        font-weight: 600;
        padding: 3px 10px;
        margin-right: 8px;
        border: 1px solid #213547;
        border-radius: 100px;
        @include dark-mode {
          border: 1px solid #ffffff50;
          color: #ffffff50;
        }
      }
    }
    .body-sort {
      width: calc(100% - 40px);
      height: 75%;
      padding: 20px;
      display: flex;
      align-items: center;
      position: relative;
      @include portrait-mobile {
        width: calc(100% - 30px);
        height: 82%;
        padding: 15px;
      }
      .body-contents {
        $sample-padding: 20px;
        $sample-width: calc(1000px - ($sample-padding * 2));
        width: 100%;
        max-width: #{$sample-width};
        min-height: 420px;
        max-height: 100%;
        overflow-y: scroll;
        background-color: #fcfcfc;
        padding: 0px #{$sample-padding} #{$sample-padding};
        border: 1px solid #f0f2f5;
        border-radius: 20px;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &::-webkit-scrollbar {
          display: none;
        }
        @include portrait-mobile {
          border-radius: 15px;
          padding: 0px calc(#{$sample-padding} - 5px)
            calc(#{$sample-padding} - 5px);
        }
        @include dark-mode {
          background-color: rgba(45, 49, 62, 1);
          border: none;
        }
        .item {
          padding: 20px;
          background-color: #f0f2f590;
          border-radius: 10px;
          margin-bottom: 10px;
          &::nth-last-child(1) {
            margin-bottom: 0px !important;
          }
          @include dark-mode {
            background-color: #00000090;
          }
        }
      }
    }
  }
}

.quiz-contents-top {
  position: sticky;
  top: 0;
  padding-top: 20px;
  background-color: #fcfcfc;
  margin-bottom: 20px;
  border-radius: 0px 0px 20px 20px;
  z-index: 999;
  @include dark-mode {
    background-color: rgba(45, 49, 62, 1);
  }
}
